<h1>{{title}}</h1>
<p>Welcomeeee to {{title}}</p>
<a href="/api/hw/auth/github"><button class="boton" >Iniciar Sesión con GitHub</button></a>
<a href="/api/hw/auth/kakao"><button class="boton" >Iniciar Sesión con Kakao</button></a>